@tailwind base;
@tailwind components;
@tailwind utilities;


.p-carousel-container {
    display: flex;
    flex-direction: row;
    /* // position: relative; */
    overflow: visible;
  }

  .scrollcont::-webkit-scrollbar {
    display: none !important;
  }
  
  
  .p-carousel-prev {
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute !important;
    background: white !important;
    height: 40px !important;
    left: 6%;
    z-index: 1;
    /* // bottom:55% !important; */
    width: 40px !important;
    border-radius: 100%;
    /* padding: 10px; */
  }
  
  
  .p-carousel-next {
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute !important;
    background: #FF9227 !important;
    height: 40px !important;
    right: 6%;
    z-index: 1;
    /* // bottom:55% !important; */
    width: 40px !important;
    border-radius: 100%;
    /* padding: 10px; */
  }
  
  
  @media only screen and (max-width: 767px) {
    .p-carousel-prev {
      /* left: 70% !important; */
    }
  }
  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #ced4da !important;
    width: 1.7rem !important;
    height: 1.7rem !important;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s !important;
    border-radius: 100% !important;
    display: none !important;
  }
  
  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: black !important;
    display: none !important;
  }
  

