@tailwind base;
@tailwind components;
@tailwind utilities;


.p-carousel-container {
    display: flex;
    flex-direction: row;
    /* // position: relative; */
    overflow: visible;
  }
  
  .p-carousel-prev {
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible !important;
    position: absolute !important;
    /* // background: red !important; */
    height: 40px !important;
    left: 84%;
    top: 90%;
    z-index: 100 !important;
    /* // bottom:55% !important; */

    width: 90px !important;
    border-radius: 100%;
    border: 1px;
    padding: 10px !important;
    border-width: 4px !important;
    border-color: green !important;
  }
  
  .p-carousel-next {
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute !important;
    /* // background: red !important; */
    height: 40px !important;
    right: 7%;
    top: 90%;
    border-width: 4px !important;
    border-color: black !important;
  
    z-index: 100;
    /* // bottom:55% !important; */
    width: 40px !important;
    border-radius: 100%;
    padding: 10px !important ;
  }
  
  @media only screen and (max-width: 767px) {
    .p-carousel-prev {
      left: 70% !important;
    }
  }
  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #ced4da !important;
    width: 1.7rem !important;
    height: 1.7rem !important;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s !important;
    border-radius: 100% !important;
    display: none !important;
  }
  
  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: black !important;
    display: none !important;
  }
  

